<!--tabbar-->
<div class="header1">
    <div class="top-header">
        <div class="top-header-left">
            <input type="checkbox" id="nav-check">
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a routerLink="adduser">Home</a>
                <a routerLink="">Kullanıcılar</a>
                <a routerLink="list">Personeller</a>

            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-header-right">

            <div class="account"><img src="assets/images/max.jpg" alt="" class="profil-pic" /></div>

            <div class="down-top top-down">
                <select class="in-drop">
                    <option value="blank" class="in-of"></option>
                    <option value="blank" class="in-of">hesabım</option>
                    <option value="blank" class="in-of">Çıkış</option>
                </select>
            </div>

        </div>
    </div>
</div>
<div class="clearfix"></div>
