<div class="container_log">
  <div class="cont_log">
      <div class="cont-log-top"></div>
      <div class="cont-log-middle">
          <div class="cont-log-mc">
              <div class="account_grid">
                  <div class="log-right">
                     <h3>Kullanıcı Girişi</h3>
                   <p></p>
                   <form [formGroup]="loginForm" (ngSubmit)="login()">
                     <div>
                       <span>Kullanıcı Adı<label>*</label></span>
                       <input type="text" formControlName="username"> 
                     </div>
                     <div>
                       <span>Parola<label>*</label></span>
                       <input type="text" formControlName="password"> 
                     </div>
                     <div>
                     <button type="submit">Giriş</button>
                    </div>
                   </form>
                  </div>	
                   <div class=" log-left">
                    <p>Sistemimizden bir hesap oluşturunuz</p>
                    <button routerLink="/register" type="button">Yeni Kullanıcı</button>
                  </div>
                  <div class="clearfix"> </div>
                </div>
          </div>
      </div>
      <div class="cont-log-bottom"></div>
  </div>
</div>